#user-profile-modal .header:after{visibility: hidden;}
.avatar-wrapper{background-color: transparent!important;}
#user-profile-modal .header{
    background-color:#12A5F4!important;
    background-image: none;
    width: 200px;
    height: 546px;
}

#user-profile-modal{
    display: flex;
    flex-direction: row;
    width: 600px;
}

.tab-bar-container{
    display: inline!important;
    width: 325px;
    height: 56px!important;
    padding:0;
    margin: 0;
    background: #FFFFFF!important;
    z-index: 99;
}

#user-profile-modal .tab-bar .tab-bar-item.selected {
    color: #000000;
}

#user-profile-modal .tab-bar .tab-bar-item {
    color: rgba(0, 0, 0, 0.5);
}

#user-profile-modal .scroller, #user-profile-modal > div.tab-bar-container > div {
    width: 350px;
}

#user-profile-modal .header .additional-actions-icon:after {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    z-index: 5;
    position: absolute;
    top: 15px;
    right: calc(50% - 9px);
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_keyboard_arrow_down_white_24px.svg);
    background-size: cover;
    transition: all .2s ease;
}

#user-profile-modal .header .additional-actions-icon:hover:after {
    width: 24px;
    height: 24px;
    top: 12px;
    right: calc(50% - 12px);
    transition: all .2s ease;
}

#user-profile-modal .header .additional-actions-icon:before {
    content: 'Actions';
    color: #fff;
    line-height: 24px;
    transition: all .2s ease;
}

#user-profile-modal .header .additional-actions-icon:hover:before {
    font-size: 20px;
    line-height: 18px;
    transition: all .2s ease;
}

#user-profile-modal .header .additional-actions-icon {
    left: 0px;
    top: 0px;
    display: block;
    width: 203px;
    background-image: linear-gradient(to bottom, rgba(86,193,251,1) 0%, rgba(16,164,244,1) 100%);
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    transition: background-image .2s ease;
}

#user-profile-modal .tab-bar-container {
    box-shadow: none;
    padding-right: 137px;
    border-top-right-radius: 5px;
}

#user-profile-modal .guilds .section .connected-accounts .connected-account {
    margin-left: 20px;
}

#user-profile-modal > div.tab-bar-container > div {
    margin:0!important;
    left: 230px!important;
    position: absolute;
    background-color: #FFFFFF!important;
    z-index: 99!important;
    width: 335px;
    border-top-right-radius: 5px;
}

#user-profile-modal .header .header-info .badge-premium {
    position: absolute;
    top: -150px;
    left: 15px;
}

#user-profile-modal .actions .btn.add-friend {
    position: absolute;
    left: 30px;
    top: 30em;
}

#user-profile-modal .empty {
    position: relative;
    left: -250px;
    padding-left: 120px;
    padding-right: 200px;
    width: 200px;
}

#user-profile-modal .header .header-info .header-info-inner {
    position: absolute;
}

.header-info{
    position: absolute;
    width: 175px!important;
    left: 0px;
    text-align: center;
    padding-right: 40px;
    margin-top: -80px;
    color: white!important;
}

.header-info-inner, .header-info-inner.activity{
    width: 215px!important;
    color: white;
}
.header-info-inner .discord-tag{color: white!important;}
.header-info-inner .activity{
    padding-left: 0;
    padding-right: 0;
    width: 215px!important;
}

#user-profile-modal > div.scroller-wrap.fade{
    width: 360px!important;
    height: 490px!important;
    left: -233px;
    top: 55px;
    border-top: white 4px solid!important;
    margin-left: -117px;
    border-bottom-right-radius: 5px;
}

#user-profile-modal .scroller {
    border-bottom-right-radius: 5px;
}

.scroller.guilds{
    width: 304px;
}

.btn-add-friend{
    left: 0!important;
    position: absolute!important;
}
