#user-profile-modal .header:after{visibility: hidden;}
.avatar-wrapper{background-color: transparent!important;}
#user-profile-modal .header{
    background-color:#12A5F4!important;
    background-image: none;
    width: 200px;
    height: 546px;
}

#user-profile-modal{
    display: flex;
    flex-direction: row;
}

.tab-bar-container{
    display: inline!important;
    width: 325px;
    height: 56px!important;
    padding:0;
    margin: 0;
    background: #FFFFFF!important;
    z-index: 99;
}

#user-profile-modal .tab-bar .tab-bar-item.selected {
  color: #000000;
}

#user-profile-modal .tab-bar .tab-bar-item {
  color: rgba(0, 0, 0, 0.5);
}

#user-profile-modal .scroller, #user-profile-modal > div.tab-bar-container > div {
  width: 350px;
}

#user-profile-modal .tab-bar-container {
  box-shadow: none;
}

#user-profile-modal .guilds .section .connected-accounts .connected-account {
  margin-left: 20px;
}

#user-profile-modal > div.tab-bar-container > div {
    margin:0!important;
    left: 230px!important;
    position: absolute;
    background-color: #FFFFFF!important;
    z-index: 99!important;
}

#user-profile-modal .header .header-info .badge-premium {
    position: absolute;
    top: -150px;
    left: 15px;
}

#user-profile-modal .actions .btn.add-friend {
    position: absolute;
    left: 30px;
    top: 30em;
}

#user-profile-modal .empty {
  position: relative;
  left: -250px;
  padding-left: 120px;
  padding-right: 200px;
  width: 200px;
}

#user-profile-modal .header .header-info .header-info-inner {
  position: absolute;
}

.header-info{
    position: absolute;
    width: 175px!important;
    left: 0px;
    text-align: center;
    padding-right: 40px;
    margin-top: -80px;
    color: white!important;
}

.header-info-inner, .header-info-inner.activity{
    width: 215px!important;
    color: white;
}
.header-info-inner .discord-tag{color: white!important;}
.header-info-inner .activity{
    padding-left: 0;
    padding-right: 0;
    width: 215px!important;
}

#user-profile-modal > div.scroller-wrap.fade{
    width: 360px!important;
    height: 490px!important;
    left: -233px;
    top: 55px;
    border-top: white 4px solid!important;
}

.scroller.guilds{
    width: 304px;
}

.btn-add-friend{
    left: 0!important;
    position: absolute!important;
}
